/*css phan chung */
*{
    box-sizing: border-box !important;
}
/*DUOI DAY LA CSS CHO PHAN SAN PHAM*/
div.row{
margin:0px !important;
padding:0px !important;
justify-content:space-between;
}
div.row > div{
padding:0px !important;
margin:0.5% !important;
background-color:#FFFFCC;
width:32%;
}
/*DUOI DAY LA CSS CHO PHAN ANH TRANG TRI*/
*{
    max-width:100%;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

div.all-template{
   display:flex;
   flex-wrap: nowrap;
   padding:0.1%;
   /* justify-content: space-between; */
}

div.all-block{
 width: 25%;
 padding:1%;
 background-color:
 #EEEEEE;
 margin: 0.5%;
 position: relative;
}


div.all-picture{
    width: 100%;

}

div.all-picture > img{
    width: 100%;
}

div.content > h2{
    font-size:20px;
    padding:5px;
    margin-left: 30%;

    margin-right: 20%;
}
div.content > h1{
    color:#5e3929;
    margin-top: -50px;
    padding-left: 10%;
}
div.content > p.year{
    color:#5e3929;
    font-size:25px;
    margin-top: -19px;

}

div.content > p.ct{
    margin-top:-12px;
    text-align: justify;
    margin-bottom: 0px;
}
div.content > a{
    color:#5e3929;
    text-decoration: none;
    transition:all 2s;
}
div.content > a:hover{
    text-decoration:underline;
}
div.text-content{
    background-color:white !important;
    width: 20%;
}
div.new-text{
    transform: rotate(-90deg);

}
div.new-text > h1{
    font-size: border;
    font-size:100px;
    color:#5e3929;
    text-align: center;
    margin-top:50%;
}


/*DƯỚI ĐÂY LÀ CSS CHO PHAN MAPS*/

div.all-maps{
    display: flex;
    margin:0px;
    padding: 1%;
}
div.all-maps > div.map-content{
    width: 30%;
    background-color:#CCCCCC;
}
div.all-maps > div.map{
    width: 100%;
}

div.map-content {
    padding:0.5%;
}
div.map-content > ul{
    color:#5e3929;
    list-style: none;
}
div.map-content > h2{
    color:#5e3929;
    font-size: 20px;
    text-align:center;
}

div.template-revere{
    flex-direction:row-reverse;
}

div.event > h1{
    color: #a1a1a1;
}
div.content > p.ct{
    text-overflow: ellipsis;
    overflow: hidden;

}

div.all-picture {
    overflow: hidden;
}
div.all-picture > img{
    transition: transform ease 4s;

}
div.all-picture > img:hover{
    transform: scale(1.2);
}
div.all-block{
    transition: transform ease 4s;
    background-color:#f9f9f9c4;

}
div.all-block:hover{
    overflow: hidden;
    box-shadow: 0 0 15px #CCCCCC;
    outline: 0;
    transition: all 0.5s ease 0s;
}
